$error-red: #dc3545;

.error-explanation {
  border: 1px solid darken($error-red, 10%);
  border-radius: 4px;
  overflow: hidden;

  .header {
    background-color: $error-red;
    color: #fff;
    padding: .35rem;
  }
}

.field_with_errors {
  label {
    color: darken($error-red, 10%);
  }

  input, select {
    border: 1px solid darken($error-red, 10%);
  }
}

